// Typography

$font-family-primary: 'Proxima Nova', sans-serif ;
$font-family-secondary: 'Futura Heavy', sans-serif;
$font-size: 1.125em;
$line-height: normal;

// Screen Size

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 996px;
$screen-lg: 1200px;